body {
    color: #5C2410;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR STYLES */
#logo-img{
    margin-top: 5px;
}

#nav1{
    width: 100%;
    height: auto;
    background-color: beige;
    transition: background-color 0.1s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#nav1.scrolled{
    width: 100%;
    height: auto;
    background-color: white;
    transition: background-color 0.5s ease-in-out;
}

#vertical-line{
    margin: 0px 30px 0px 4px;
}

.nav-menu, .nav-header{
    margin: 0px 40px 0px 40px;
}

.nav-menu ul {
    font-size: 16px;
}

.nav-menu ul li{
    margin: 0 15px;
    font-size: 16px;
}

/* Hovering over the navbar items */
.nav-link:hover{
    color:#F21189 !important;
    font-weight: 400;
}

/* When hovered over, the following css styles will take effect on the nav menu items */
.nav-item.active a{
    color: #F21189;
    font-weight: 500;
}

.nav-item.active div {
    margin-left: 9px;
    width: 40%;
    border: #F21189 solid;
    border-radius: 5px;
}


.alada-button {
    background-color: #1164F2;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
}

.alada-button img {
    position: absolute;
    left: 8%;
    top: 23%;
    width: 22px;
}

.alada-button span{
    text-align: end;
    position: absolute;
    left: 30%;
    top: 20%;
}

/* HEADER SECTION STYLES */
#header{
    width: 100%;
    background-color: beige;
    height: 1200px;
    padding: 20px 40px;
}

/* FOOTER SECTION STYLES */
.socials-section{
    background-color: #B4E3FF;
}

.socials-left{
    background-image: url('/images/alada_instagram.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.socials-middle{
    background-image: url('/images/alada_pinterest.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.socials-right{
    background-image: url('/images/alada_x.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.socials-middle, .socials-left, .socials-right {
    width: 160px;
    height: 25px;
    text-decoration: none;
}

/* Footer social media icons on hover */
.socials-left:hover{
    background-image: url('/images/alada_instagram_pink.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.socials-middle:hover{
    background-image: url('/images/alada_pinterest_pink.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.socials-right:hover{
    background-image: url('/images/alada_x_pink.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Middle section of footer */
.footer-middle{
    background-color: #041634;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#information-column a, #helpful-links-column a{
    text-decoration: none;
}

#information-column p:hover, #helpful-links-column p:hover{
    text-decoration: none;
    color:#F21189;
}


#submit-button:hover{
    background-color: #F21189;
}

#separator{
    background-color:#F21189;
    width: 1200px;
    height: 100px;
}

#instagram-end{
    background-image: url(/images/instagram-socials-end.svg);
    background-size: contain;
}

.division{
    margin: 0px 10px;
}
